.contacto{
    padding:25px 200px;
    
    display: flex;
    background-color: #D9EAE8;

}
.con_tel{
    width: 50%;
    margin-right: 5%;
}

.con_tel h2{
    font-size: 40px;
    color: rgb(45, 205, 27) ;
    margin-top: 70px;
    margin-bottom: 5px;
    text-align: center;
}

.con_tel img{
    width: 70%;
    margin-top: 50px;
    margin-left: 50px;
}

textarea{
    height: 150px;
    resize: none;
    background-color: #ffffff;
    border: none;
    outline: none;
    font-size: 17px;
    font-family:'Raleway', sans-serif;
}
.form_contactos{   
    width: 50%;
    
    
}


.formulario__contac{
margin-top: 60px;

}


.foulario{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #ffffff;
    margin-bottom: 10px;
    
}
.form_contactos label{
    margin-bottom:5px;
    
}


.form_contactos input{
    background-color: #ffffff;
    border: none;
    outline: none;
    font-size: 17px;
    font-family:'Raleway', sans-serif;
}

.iconosfooter{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 25px 0;
    justify-content: center;
}

.iconosfooter .iconos img{
    width: 3rem;
    margin: 15px;
    border: 4px solid rgba(2, 2, 2, 0);
    border-radius: 100%;
}

.iconosfooter .iconos img:hover{
    background-color: rgb(45, 205, 27);
    
}

.autor{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
color: rgb(253, 253, 253);

}

.boton_enviar{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background: rgb(45, 205, 27);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    border: none;

}

.boton_enviar:after{
    content: "";
    width: 0;
    height: 100%;
    background: #0495ef;
 position: absolute;
 transition: all 0.4s ease-in-out;
 right: 0;
}
.boton_enviar:hover::after {
    right: auto;
    left: 0;
    width: 100%;

   }

   .boton_enviar span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #fff;
    font-size: 17px;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   .boton_enviar:hover span {
    color: #f7f7f7;
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }
    

@media screen and (max-width: 780px){
    .con_tel{
        display: none;
    }
    .contacto{
        justify-content: center;
        padding: 25px 30px;
    }
    .form_contactos{
        width: 100%;
    }

    .boton_enviar{
    
        padding: 10px 46.5%;
       
        
    }
}

@media screen and (max-width: 400px) {
    .autor{
        font-size: 12px;
        text-align: center;
    }
   .form_contactos label{
    font-size: 14px;
   }
   .form_contactos input{
    font-size: 13px;
   } 
   textarea{
    font-size: 13px;
   }

   .iconosfooter .iconos img{
    width: 2rem;
    
}

.boton_enviar{
    
    padding: 10px 40%;
   
    
}
}