.contenedor_inicio{
    display: flex;
    align-items: center;
    padding: 30px 200px 20px 200px;
    justify-content: center;
}

.inici_texto h1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 60px;
    color: #3b3b3b;
    text-align: left;
}

.inici_texto span{
    color: rgb(45, 205, 27);
    
}
.inici_texto p{
    font-size: 24px;
    line-height: 24px;
    
}

.contenedor_foto{
    height: 350px;
    width: 350px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}
.foto_persona{
    background-image:url(../img/aboutt.jpg) ;
}
.link_presenacion{
    display: flex;
    
}
.link_presenacion div{
   margin-right: 10px;
}

.precentacion_div_link{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: none;
    background-color: #D9EAE8;
    cursor: pointer;
    border-radius: 5px;
}

.nom_con img{
    width: 5rem;
    
}

.link_presenacion .icono-redes img{
    width: 2rem;
    border-radius: 100%;
    border: 2px solid #00000000;
}




.link_presenacion .icono-redes img:hover{
    background-color: chartreuse;
}

.link_presenacion  .cv  {
    padding: 10px ;
    margin-left: 25px;
}

.link_presenacion  .cv a {
    background-color: rgb(45, 205, 27);
    padding: 10px 30px ;
    text-decoration: none;
    color: #fff;
    border: none;
    font-size: 15px;
    transition:all 1s;
}

.link_presenacion  .cv a:hover{
    background: #0495ef;
}



.img_A{
    margin-left: 20px;
    
}

@media screen and (max-width: 1115px ){
    .contenedor_inicio{
        padding: 0 20px 10px 30px;;
    }


    
}
@media screen and (max-width: 780px ){
    .inici_texto h1{
        font-size: 35px;
        line-height: 35px;
    }
    .inici_texto p{
        font-size: 20px;
        line-height: 20px;
        
    }
    .contenedor_foto{
        height: 200px;
        width: 200px;
       
    }
    
}


@media (min-width: 280px) and (max-width: 400px){
    .contenedor_inicio{
        flex-direction: column-reverse;
        padding-top: 10px;
    }
    .contenedor_foto{
        height: 150px;
        width: 150px;
       
    }
    .inici_texto h1{
        font-size: 22px;
        line-height: 22px;
    }
    .inici_texto p{
        font-size: 15px;
        line-height: 16px;
        
    }
    .precentacion_div_link{
        font-size: 14px;
    }

    .link_presenacion  .cv  {
        padding: 7px 2px;
        margin-left: 1px;
    }

    .link_presenacion  .cv a{
        padding: 9px 1px;
        font-size: 10px;
    }

    .img_A{
        margin-left: 0.5px;
        
    }
}


