.proyecto{
    padding: 15px 200px 0;
}
.contenedor_proyecto{
    display: flex;
    margin-bottom: 30px;
}
.contenedor_proyecto_2{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}
.c_img_pr{
    width:70%;
    margin-right: 20px;
}
.imagen_proyecto{
    width: 100%;
    border-radius: 20px;
}
.c_p_pro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:30% ;
}



.p_proyecto{
    font-size: 30px;
    margin: 0 0 10px;
}
.cont_botones{
    display: flex;
    flex-direction:column;
    
}
.boton_proyecto{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background: rgb(45, 205, 27);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-decoration: none;
    color: #fff;

}

.boton_proyecto:after{
    content: "";
    width: 0;
    height: 100%;
    background: #0495ef;
 position: absolute;
 transition: all 0.4s ease-in-out;
 right: 0;
}
.boton_proyecto:hover::after {
    right: auto;
    left: 0;
    width: 100%;

   }

   .boton_proyecto span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #fff;
    font-size: 17px;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   .boton_proyecto:hover span {
    color: #f7f7f7;
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }

   

@media screen and (max-width: 1115px ){
    .proyecto{
        padding: 15px 30px 0;
    }
}
@media screen and (max-width: 780px ){
    .p_proyecto {
        font-size: 20px;
    }
    .boton_proyecto{
        font-size: 15px;
    }
}
@media screen and (max-width: 500px ){
    .contenedor_proyecto , .contenedor_proyecto_2{
        flex-direction: column;
    }
    .c_img_pr{
        width:100%;
        margin-right: 0;
    }
    .c_p_pro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100% ;
    }
}
@media screen and (max-width: 400px ){
    .p_proyecto {
        font-size: 16px;
    }
    .boton_proyecto{
        font-size: 13px;
        width: 40%;
    }
}